<div>
	<a href="#" class="footer__logo"></a>
	<p>Lorem ipsum dolor sit amet</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus posuere
		suscipit elit id suscipit. Vivamus et dolor vitae metus pulvinar feugiat vel
		at est.
	</p>
	<p>© All rights reserved 2021 - 2026</p>
	<div class="footer__socials">
		<a href="#" class="footer__twitter"></a>
		<a href="#" class="footer__discord"></a>
	</div>
</div>
<div>
	<div>
		<h3>Lorem</h3>
		<ul>
			<li><a href="/">Lorem ipsum</a></li>
			<li><a href="/">Lorem ipsum</a></li>
			<li><a href="/">Lorem ipsum</a></li>
			<li><a href="/">Lorem ipsum</a></li>
		</ul>
	</div>
	<div>
		<h3>Lorem</h3>
		<ul>
			<li><a href="/">Lorem ipsum</a></li>
			<li><a href="/">Lorem ipsum</a></li>
			<li><a href="/">Lorem ipsum</a></li>
		</ul>
	</div>
	<div>
		<h3>Lorem</h3>
		<ul>
			<li><a href="/">Lorem ipsum</a></li>
			<li><a href="/">Lorem ipsum</a></li>
		</ul>
	</div>
</div>
