<header class="header">
	<a href="#" class="header__logo">
		<picture>
			<img src="RustyFlip.svg" alt="RustyFlip logo" width="84" height="34" />
		</picture>
	</a>

	<div class="header__menu_overlay" id="overlay">
		<nav class="header__menu" aria-label="main-nav">
			<ul class="header__menu_wrapper">
				<li class="header__menu_item">
					<a href="/">
						<svg>
							<use href="#icon-diamond"></use>
						</svg>
						Jackpot
					</a>
				</li>
				<li class="header__menu_item">
					<a href="/">
						<svg>
							<use href="#icon-link"></use>
						</svg>
						Affiliates
					</a>
				</li>
				<li class="header__menu_item">
					<a href="/">
						<svg>
							<use href="#icon-doc"></use>
						</svg>
						Provably Fair
					</a>
				</li>
				<li class="header__menu_item">
					<a href="/">
						<svg>
							<use href="#icon-book"></use>
						</svg>
						FaQ
					</a>
				</li>
				<li class="header__menu_item">
					<a href="/">
						<svg>
							<use href="#icon-phone"></use>
						</svg>
						Support
					</a>
				</li>
			</ul>
			<div class="header__menu_footer">
				<div class="header__mobile_score">23,182.<span>56</span></div>
				<div class="header__shop">shop</div>
				<div class="header__deposit">deposit</div>
			</div>
		</nav>
	</div>

	<div class="header__extras">
		<div class="header__deposit-desc">
			23,182.<span>56</span>
			<div>deposit</div>
		</div>

		<div class="header__notification"></div>

		<div class="header__shop-desc">shop</div>

		<div class="header__user">
			<picture class="header__avatar">
				<source
					srcset="user-small.webp 1x, user-small@2x.webp 2x"
					type="image/webp"
				/>
				<source
					srcset="user-small.png 1x, user-small@2x.png 2x"
					type="image/jpeg"
				/>
				<img src="user-small.png" alt="Player avatar" width="32" height="32" />
			</picture>

			<p class="header__user-name">username</p>
			<div class="header__user-score">123</div>
		</div>

		<div class="header__menu-toggler" id="burger">
			<svg
				width="16"
				height="15"
				viewBox="0 0 16 15"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M1 1H14.5762"
					stroke="#686868"
					stroke-width="2"
					stroke-linecap="round"
				/>
				<path
					d="M1 7.1311H14.5762"
					stroke="#686868"
					stroke-width="2"
					stroke-linecap="round"
				/>
				<path
					d="M1 13.2622H14.5762"
					stroke="#686868"
					stroke-width="2"
					stroke-linecap="round"
				/>
			</svg>
		</div>
	</div>
</header>
