@font-face {
  font-family: Stopbuck;
  font-style: normal;
  font-weight: 400;
  src:
    url('/fonts/Stopbuck.otf') format('opentype'),
    url('/fonts/Stopbuck.ttf') format('truetype');
}

@font-face {
  font-family: Fredoka;
  font-style: normal;
  font-weight: 300 700;
  src: url('/fonts/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
}

@mixin font-stopbuck {
  font-family: Stopbuck, sans-serif;
}

@mixin font-fredoka {
  font-family: Fredoka, sans-serif;
}