$font-size-xxs: 0.625rem; // 10px
$font-size-xs: 0.75rem; // 12px
$font-size-s: 0.875rem; // 14px
$font-size-m: 1rem; /// 16px
$font-size-l: 1.125rem; // 18px

$color-bg-primary: rgb(33, 32, 31); // #21201f
$color-bg-secondary: rgb(26, 26, 25); // #1a1a19
$color-bg-dark: rgb(20, 20, 20); // #141414
$color-bg-darker: rgb(39, 40, 37); // #272825

$color-border-primary: rgb(41, 40, 40);
$color-border-light: rgba(255, 255, 255, 0.1);
$color-border-subtle: rgb(33, 32, 31);

$color-text-muted: rgb(104, 104, 104);
$color-text-light: rgb(255, 255, 255);
$color-text-gray: rgb(180, 180, 180);
